*{
    margin:0%; 
    padding:0%
    box-sizing: border-box;
}
 
body {
  font-family: 'Helvetica Neue', sans-serif;
  color: #fff;
  background-color: #121212;
}

.app-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.logo-container img {
  width: 130px;
  margin-bottom: 20px;
}